@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@mixin primary-font($weight) {
  font-family:'Open Sans', sans-serif;
  font-weight: $weight;
}

/* TAMANHO DAS FONTS
light: 300,
regular: 400,
semi-bold: 600,
bold: 700,
*/